html, body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #fff; /* White background for the whole page */
  color: #000000; /* Text color */
}

.home-container {
  text-align: center;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f10e0e; /* White background for home container */
}

/* Hero Section */
.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(51deg, rgba(0, 0, 0, 0.7) 19%, rgb(156, 203, 248) 50%); /* Adjusted opacity */
  color: rgb(160, 51, 51);
  padding: 50px;
  min-height: 60vh;
  flex-wrap: wrap;
}

/* Text for Hero Section */
.hero-text {
  text-align: right;
  margin-top: 0;
}

.hero-text h1 {
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: rgb(160, 51, 51);
}

.hero-text p {
  margin-bottom: 20px;
  color: #0c1fc9;
}

.hero-text a {
  display: inline-block;
  margin-top: 10px;
}

/* Hero Image */
.hero-image {
  flex: 1;
  max-width: 550px;
}

.hero-image img {
  width: 100%;
  height: auto;
}

/* Push Forward Section */
.push-forward-section {
  padding: 50px;
  background-color: white; /* White background */
  min-height: 50vh;
}

.push-forward-section h2 {
  font-size: 2em;
  color: black;
}

.push-forward-section p {
  font-size: 1.2em;
  margin: 20px 0;
  color: black;
}

.features {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.feature {
  margin: 0 50px;
  text-align: center;
  color: black;
}

.feature img {
  width: 50px;
  height: 50px;
}

/* Stats Section */
.stats-section1 {
  display: flex;
  justify-content: space-around;
  background-color: #88ff00;
  color: rgb(5, 5, 5);
  padding: 50px;
  margin-top: 40em;
  min-height: 20vh;
}

.stat h3 {
  font-size: 2em;
  margin: 0;
}

.stat p {
  font-size: 1em;
  color: #000;
}
